body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root{
    background-color: #ffefdb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


ul{
    list-style: none;
}

.check{
    text-decoration: line-through;
}

li{
    margin: 2vh
}
