body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root{
    background-color: #ffefdb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


ul{
    list-style: none;
}

.check{
    text-decoration: line-through;
}

#taskListDiv{
    display: flex;
}

li{
    margin: 2vh;
    flex-grow: 7;
}

span{
    margin-left: 20px;
    padding: 5px;
    width: 30vw;
    background-color: #faaaaa;
}

ul li {
    padding: 5px 250px;
    cursor: pointer;
    background:  #ffefab;
    font-size: 18px;
  
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }